.btn6 {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: cornsilk;
  background: transparent;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  border: none;
  z-index: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 12px;
  font-size: 14px;
  margin: 0 10px;
}

.btn-text {
  position: relative;
  z-index: 2;
}

/* Bordures */
.border-top,
.border-bottom,
.border-left,
.border-right {
  position: absolute;
  background-color: white;
  transition: all 0.4s ease;
  z-index: 1;
}

/* Haut */
.border-top {
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
}

.btn6:hover .border-top {
  width: 100%;
}

/* Bas */
.border-bottom {
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
}

.btn6:hover .border-bottom {
  width: 100%;
}

/* Gauche */
.border-left {
  top: 0;
  left: 0;
  width: 1px;
  height: 0%;
}

.btn6:hover .border-left {
  height: 100%;
}

/* Droite */
.border-right {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0%;
}

.btn6:hover .border-right {
  height: 100%;
}
